:root{
    --blue: #004c7e; /*tab*/
    --blue_hover:#1eb9c6; /*hover*/
    --crean: #fdf8ef; /*backgroung*/
    --green: #43b77a;
    --tab_button_size: 20px;/* due to the functionality in the js this has to be in px, or else bugs will arise */
}

.qn-note_app{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(240, 248, 255, 0);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.qn-container{
    width: 400px;
    height: 600px;
    position: absolute;
    background-color: var(--crean);
    border-radius: 5px;
    top:40px;
    right: 30px;

}

/* Tab that contains buttons */
.qn-tab{
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    padding: 10px 10px;
    border-radius: 5px;
}
.qn-right_tab{
    display: flex;
    justify-content: space-between;
}
.qn-tab .qn-drag{
    height: var(--tab_button_size);
    width: var(--tab_button_size);

}
.qn-tab .qn-add{
    height: var(--tab_button_size);
    width: var(--tab_button_size);
    margin: 0 16px;
}
.qn-tab .qn-minimize {
    height: var(--tab_button_size);
    width: var(--tab_button_size)   
}
/* contains the notes section */
.qn-note_container{
    padding: 12px;
   
    height: 600px;
    overflow-y: auto;
}
.qn-note{
    width: 100%;
    height: 88%;
    overflow-y: inherit; 
}


.qn-note h4{
    
}
/* closed note */
.qn-closed{
    position: fixed;
    bottom: 0;
    right: 30px;
    color: white;
    background-color: var(--blue);
    padding: 8px;
    border-radius: 8px 8px 0 0;
    font-weight: bolder;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}
.qn-closed div img{
    margin-left: 32px;
    height: 15px;
    margin-top: 0;
}
.qn-closed img{
    width: var(--tab_button_size);
    height: var(--tab_button_size);
    margin-right: 5px;
}
.qn-title_container{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    text-align: center;
    height: 15px;
    font-size: 18px;
}
.qn-title{
    font-weight: bolder;
}
.qn-edit{
    /* visibility: hidden; */
}
.qn-btn_container{
    width: 96px;
    display: flex;
    justify-content: space-around;
}
/* utility classes */
.qn-none{
    display: none;
}

.qn-flex-row-spaced{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.qn-note button{
    height: 20px;
    z-index: 1002;
}
.qn-note h4{
    flex: 1;
    padding: 0;
    
}
.qn-controls{
    display: flex;

}
.qn-save{
    width: 15px;
    padding: 7px;
    background-color: var(--green);
    border-radius: 8px;
    z-index: 1007;

}
.qn-mini,.qn-expand{
    width: 15px;
    padding: 0 16px;
    z-index: 1007;
}

.qn-note div{
    background-color: white;
    padding:  0 8px;
    border-radius: 8px;
}
.qn-note p {
    padding: 0 8px 16px 8px;
    color: rgba(0, 0, 0, 0.75);
    

}
.qn-note p:active,.qn-note p:focus,.qn-note p::selection{
    border: none;
}

.qn-note span{
    visibility: hidden;
}

.qn-add {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.qn-add .qn-popuptext {
   
    width: 135px;
    background-color: var(--blue_hover);
    color: white;
    text-align: center;
    border-radius: 16px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
}

/* Popup arrow */
.qn-add .qn-popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--blue_hover) transparent transparent transparent;
    opacity: 0;
}

.qn-add .qn-popuptext:hover{
    opacity: 100%;
}

.qn-add .qn-popuptext:hover::after {
    opacity: 100%;
}

/* seach functionality */
.search_modal{
    z-index: 1010;
    /* position: absolute;
    top: 5rem; */
   
    /* width: 85%; */
    box-shadow: 2px 2px 6px  black,-2px -2px 6px black;
    max-height: 300px;
    overflow-y: hidden;
}

.qn-person{
    display: grid;
    grid-template-areas: "img name";
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 1011;
}
.qn-person-image{
    width: 30px;
    height: 30px;
    border-radius: 60px;
    grid-area: img;
}
.qn-people{
    max-height: 100px;
    overflow: hidden;
}
.qn-person p{
    grid-area: name;
}
.qn-display-none{
    display: none;
}