:root{
    
    --tab_button_size: 20px;/* due to the functionality in the js this has to be in px, or else bugs will arise */
}

.note_app{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(240, 248, 255, 0);
    overflow: hidden;
}
.container{
    width: 300px;
    max-height: 400px;
    position: absolute;
    background-color: aqua;
}

/* Tab that contains buttons */
.tab{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 5px 5px;
}
.right_tab{
    display: flex;
    justify-content: space-between;
}
.tab .drag{
    height: var(--tab_button_size);
    width: var(--tab_button_size);
    background-color: rgb(255, 0, 0);
    position: absolute;
    
}
.tab .add{
    height: var(--tab_button_size);
    width: var(--tab_button_size);
    background-color: rgb(0, 17, 255);
    
    margin: 0 16px;
}
.tab .minimize {
    height: var(--tab_button_size);
    width: var(--tab_button_size);
    background-color: rgb(144, 0, 255);
    
}
/* contains the notes section */
.note_container{
    overflow-y: scroll;
    max-height: 300px;
}
.note{
    width: 100%;
    height: 200px;
}
.note_container::-webkit-scrollbar{
    width: 20px;
    height: 300px;
}
.note_container::-webkit-scrollbar-track {
    background-color: blueviolet;
}
.note_container::-webkit-scrollbar{
    width: 18px;
    height: 10px;
    background-color: rgb(59, 2, 2);
}

.note h4{
    background-color: white;
}
/* closed note */
.closed{
    position: fixed;
    bottom: 0;
    right: 45vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.345);
    padding: .5rem 1rem;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.title_container{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    text-align: center;
    height: 1.5rem;
    font-size: 1.2rem;
}
.title{
    font-weight: bolder;
}
.edit{
    /* visibility: hidden; */
}
.btn_container{
    width: 6rem;
    display: flex;
    justify-content: space-around;
}
/* utility classes */
.none{
    display: none;
}

.flex-row-spaced{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.note button{
    height: 20px;
    z-index: 1002;
}
.note h4{
    flex: 1;
    text-align: center;
}
.save{
    
}